body {
  background-color: #E9BCB2;
}

.bg-purple {
  background-color: #a83279;
}

.bg-green {
  background-color: #66e066;
  color: black;
}

.bg-gray {
  background-color: #e0e0e0;
  color: black;
}

/* using css grid */
.my-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  padding-top: 5rem;
  /* row-gap: 1rem; */
  row-gap: 0.2rem;
}

.hidden {
  visibility: hidden;
}

.my-container div {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid black;
  /* margin: 0.2rem; */
}

.my-container .block-1 {
  grid-row-start: span 2;
}

.my-container .block-2 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

.my-container .block-3 {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.my-container .block-4 {
  grid-column-start: 1;
  grid-row-start: span 2;
}

.my-container .block-5 {
  grid-column-start: 2;
  grid-row-start: span 2;
}

.my-container .block-6 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 7;
}

.my-container .block-7 {
  grid-column-start: 4;
  grid-row-start: 3;
}